{% extends "base.html" %}
{% set active_page = "admin_users" %}
{% block title %}<title>用户编辑 - {{ SITE_NAME }}</title>{% endblock %}

{% block dashboard_stat %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        用户
        <small>{% if create %}创建新用户{% else %}{{ user.username }}{% endif %}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for('dashboard.dashboard') }}"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="{{ url_for('admin.manage_user') }}">用户</a></li>
        <li class="active">{% if create %}新建{% else %}编辑{% endif %} 用户</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{% if create %}新建{% else %}编辑{% endif %} 用户</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post"
                    action="{% if create %}{{ url_for('admin.edit_user') }}{% else %}{{ url_for('admin.edit_user', user_username=user.username) }}{% endif %}">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="create" value="{{ create }}">
                    <div class="box-body">
                        {% if error %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-ban"></i> 出错了!</h4>
                            {{ error }}
                        </div>
                        <span class="help-block">{{ error }}</span>
                        {% endif %}
                        <div class="form-group has-feedback">
                            <label class="control-label" for="firstname">名字</label>
                            <input type="text" class="form-control" placeholder="First Name" name="firstname"
                                {% if user %}value="{{ user.firstname }}" {% endif %}> <span
                                class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="lastname">姓氏</label>
                            <input type="text" class="form-control" placeholder="Last name" name="lastname"
                                {% if user %}value="{{ user.lastname }}" {% endif %}> <span
                                class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="email">E-mail 地址</label>
                            <input type="email" class="form-control" placeholder="Email" name="email" id="email"
                                {% if user %}value="{{ user.email }}" {% endif %}> <span
                                class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <p class="login-box-msg">输入账户详情</p>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="username">用户名</label>
                            <input type="text" class="form-control" placeholder="用户名" name="username"
                                {% if user %}value="{{ user.username }}" {% endif %}
                                {% if not create %}disabled{% endif %}> <span
                                class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback {% if blank_password %}has-error{% endif %}">
                            <label class="control-label" for="username">密码</label>
                            <input type="password" class="form-control"
                                placeholder="密码 {% if create %}(必填){% else %}(如不修改保持空白){% endif %}"
                                name="password"> <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            {% if blank_password %}
                            <span class="help-block">密码不能为空.</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit"
                            class="btn btn-flat btn-primary">{% if create %}创建{% else %}更新{% endif %}
                            User</button>
                    </div>
                </form>
            </div>
            {% if not create %}
            <div class="box box-secondary">
                <div class="box-header with-border">
                    <h3 class="box-title">两步身份验证</h3>
                </div>
                <div class="box-body">
                    <p>If two factor authentication was configured and is causing problems due to a lost device or
                        technical issue, it can be disabled here.</p>
                    <p>The user will need to reconfigure two factor authentication, to re-enable it.</p>
                    <p><strong>Beware: This could compromise security!</strong></p>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-flat btn-warning button_otp_disable" id="{{ user.username }}"
                        {% if not user.otp_secret %}disabled{% endif %}>禁用两步身份验证</button>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{% if create %}创建{% else%}修改{% endif %} 用户
                    </h3>
                </div>
                <div class="box-body">
                    <p>在左侧的表格中填写所有字段.</p>
                    {% if create %}
                    <p><strong>新创建的用户没有访问任何域名的权限.</strong> 您将需要授予
                        通过仪表板上的域管理按钮创建用户后，即可对其进行访问.</p>
                    {% else %}
                    <p><strong>密码</strong> 使用当前密码请保持为空.</p>
                    <p><strong>用户名</strong> 不可修改.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extrascripts %}
<script>
    // handle disabling two factor authentication
    $(document.body).on('click', '.button_otp_disable', function () {
        var modal = $("#modal_otp_disable");
        var username = $(this).prop('id');
        var info = "确定要禁用两步验证-- " + username + "?";
        modal.find('.modal-body p').text(info);
        modal.find('#button_otp_disable_confirm').click(function () {
            var postdata = {
                'action': 'user_otp_disable',
                'data': username,
                '_csrf_token': '{{ csrf_token() }}'
            }
            applyChanges(postdata, $SCRIPT_ROOT + '/admin/manage-user', false, true);
        })
        modal.modal('show');
    });
</script>
{% endblock %}
{% block modals %}
<div class="modal fade modal-warning" id="modal_otp_disable">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">确认</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-default pull-left" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-flat btn-danger" id="button_otp_disable_confirm">禁用两步身份验证</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
