{% extends "base.html" %}
{% block title %}<title>Domain Management - {{ SITE_NAME }}</title>{% endblock %}

{% block dashboard_stat %}
{% if status %}
{% if status.get('status') == 'ok' %}
<div class="alert alert-success">
    <strong>Success!</strong> {{ status.get('msg') }}
</div>
{% elif status.get('status') == 'error' %}
<div class="alert alert-danger">
    {% if status.get('msg') != None %}
    <strong>Error!</strong> {{ status.get('msg') }}
    {% else %}
    <strong>Error!</strong> An undefined error occurred.
    {% endif %}
</div>
{% endif %}
{% endif %}
<section class="content-header">
    <h1>
        管理域名 <small>{{ domain.name }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for('dashboard.dashboard') }}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">域名管理/li>
    </ol>
</section>
{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <form method="post" action="{{ url_for('domain.setting', domain_name=domain.name) }}">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <div class="box-header">
                        <h3 class="box-title">域名访问控制</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-2">
                                <p>右边列表里的用户可以访问并管理{{ domain.name }} 域名.</p>
                                <p>单击用户以在列之间移动.</p>
                                <p>
                                    <font style="color: red;">红色</font> 字体的用户为管理员,可以管理 <b>所有的</b> 域名.
                                </p>
                            </div>
                            <div class="form-group col-xs-2">
                                <select multiple="multiple" class="form-control" id="domain_multi_user"
                                    name="domain_multi_user[]">
                                    {% for user in users %}
                                    <option {% if user.id in
                                    domain_user_ids %}selected{% endif %} value="{{ user.username }}"
                                        {% if user.role.name== 'Administrator' %}style="color: red" {% endif %}>{{
                                    user.username}}</option> {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-xs-offset-2">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-flat btn-primary"><i class="fa fa-check"></i>
                                        保存</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">账户</h3>
                </div>
                <div class="box-body">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <form method="post"
                                action="{{ url_for('domain.change_account', domain_name=domain.name) }}">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                <select name="accountid" class="form-control" style="width:15em;">
                                    <option value="0">- 无 -</option>
                                    {% for account in accounts %}
                                    <option value="{{ account.id }}"
                                        {% if domain_account.id == account.id %}selected{% endif %}>{{ account.name }}
                                    </option>
                                    {% endfor %}
                                </select><br />
                                <button type="submit" class="btn btn-flat btn-primary" id="change_soa_edit_api">
                                    <i class="fa fa-check"></i>&nbsp;为 {{ domain.name }} 修改账户
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">自动创建PTR记录</h3>
                </div>
                <div class="box-body">
                    <p><input type="checkbox" id="{{ domain.name }}" class="auto_ptr_toggle"
                            {% for setting in domain.settings %}{% if setting.setting=='auto_ptr' and setting.value=='True' %}checked{% endif %}{% endfor %}
                            {% if SETTING.get('auto_ptr') %}disabled="True" {% endif %}>
                        &nbsp;允许在记录更新时自动创建反向指针?{% if
                         SETTING.get('auto_ptr') %}</br><code>在当前系统全局开启自动创建PTR记录!</code>{% endif %}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">动态域名解析 2 设置</h3>
                </div>
                <div class="box-body">
                    <p><input type="checkbox" id="{{ domain.name }}" class="dyndns_on_demand_toggle"
                            {% for setting in domain.settings %}{% if setting.setting=='create_via_dyndns' and setting.value=='True' %}checked{% endif %}{% endfor %}>
                        &nbsp;允许通过DynDNS更新按需创建记录?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">修改类型</h3>
                </div>
                <div class="box-body">
                    <p>类型决定如何在多个DNS服务器之间复制域名.</p>
                    <ul>
                        <li>
                            Native - PowerDNS will not perform any replication. Use this if you only have one
                            PowerDNS server or you handle replication via your backend.
                        </li>
                        <li>
                            Master - This PowerDNS server will serve as the master and will send zone transfers
                            (AXFRs) to other servers configured as slaves.
                        </li>
                        <li>
                            Slave - This PowerDNS server will serve as the slave and will request and receive
                            zone transfers (AXFRs) from other servers configured as masters.
                        </li>
                    </ul>
                    <b>新的域名类型设置:</b>
                    <form method="post" action="{{ url_for('domain.change_type', domain_name=domain.name) }}">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        <select name="domain_type" class="form-control" style="width:15em;">
                            <option selected value="0">- 不改变 -</option>
                            <option value="native">Native(本地)</option>
                            <option value="master">Master(主)</option>
                            <option value="slave">Slave(从)</option>
                        </select><br />
                        <div class="form-group" style="display: none;" id="domain_master_address_div">
                            <input type="text" class="form-control" name="domain_master_address"
                                id="domain_master_address"
                                placeholder="Enter valid master ip addresses (separated by commas)">
                        </div>
                        <button type="submit" class="btn btn-flat btn-primary" id="change_type">
                            <i class="fa fa-check"></i>&nbsp;修改 {{ domain.name }} 的类型
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Change SOA-EDIT-API</h3>
                </div>
                <div class="box-body">
                    <p>The SOA-EDIT-API setting defines how the SOA serial number will be updated after a change is made
                        to the domain.</p>
                    <ul>
                        <li>
                            DEFAULT - Generate a soa serial of YYYYMMDD01. If the current serial is lower than the
                            generated serial, use the generated serial. If the current serial is higher or equal to the
                            generated serial, increase the current serial by 1.
                        </li>
                        <li>
                            INCREASE - Increase the current serial by 1.
                        </li>
                        <li>
                            EPOCH - Change the serial to the number of seconds since the EPOCH, aka unixtime.
                        </li>
                        <li>
                            OFF - Disable automatic updates of the SOA serial.
                        </li>
                    </ul>
                    <b>New SOA-EDIT-API Setting:</b>
                    <form method="post" action="{{ url_for('domain.change_soa_edit_api', domain_name=domain.name) }}">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        <select name="soa_edit_api" class="form-control" style="width:15em;">
                            <option selected value="0">- 不改变 -</option>
                            <option>默认</option>
                            <option>递增</option>
                            <option>EPOCH</option>
                            <option>关闭</option>
                        </select><br />
                        <button type="submit" class="btn btn-flat btn-primary" id="change_soa_edit_api">
                            <i class="fa fa-check"></i>&nbsp;Change SOA-EDIT-API setting for {{ domain.name }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">域名删除</h3>
                </div>
                <div class="box-body">
                    <p>用来删除已创建的 <b>域名</b> . 域名下所有的解析记录以及用户授权都会被删除. 此修改不可回滚</p>
                    <button type="button" class="btn btn-flat btn-danger pull-left delete_domain"
                        id="{{ domain.name }}">
                        <i class="fa fa-trash"></i>&nbsp;删除域名 {{ domain.name }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extrascripts %}
<script>
    //initialize pretty checkboxes
    $('.dyndns_on_demand_toggle').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        increaseArea: '20%' // optional
    });
    $('.auto_ptr_toggle').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        increaseArea: '20%' // optional
    });

    $("#domain_multi_user").multiSelect({
        selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Username'>",
        selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Username'>",
        afterInit: function (ms) {
            var that = this,
                $selectableSearch = that.$selectableUl.prev(),
                $selectionSearch = that.$selectionUl.prev(),
                selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

            that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                .on('keydown', function (e) {
                    if (e.which === 40) {
                        that.$selectableUl.focus();
                        return false;
                    }
                });

            that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                .on('keydown', function (e) {
                    if (e.which == 40) {
                        that.$selectionUl.focus();
                        return false;
                    }
                });
        },
        afterSelect: function () {
            this.qs1.cache();
            this.qs2.cache();
        },
        afterDeselect: function () {
            this.qs1.cache();
            this.qs2.cache();
        }
    });

    //handle checkbox toggling
    $('.dyndns_on_demand_toggle').on('ifToggled', function (event) {
        var is_checked = $(this).prop('checked');
        var domain = $(this).prop('id');
        postdata = {
            'action': 'set_setting',
            'data': {
                'setting': 'create_via_dyndns',
                'value': is_checked
            },
            '_csrf_token': '{{ csrf_token() }}'
        };
        applyChanges(postdata, $SCRIPT_ROOT + '/domain/' + domain + '/manage-setting', true);
    });
    $('.auto_ptr_toggle').on('ifToggled', function (event) {
        var is_checked = $(this).prop('checked');
        var domain = $(this).prop('id');
        postdata = {
            'action': 'set_setting',
            'data': {
                'setting': 'auto_ptr',
                'value': is_checked
            },
            '_csrf_token': '{{ csrf_token() }}'
        };
        applyChanges(postdata, $SCRIPT_ROOT + '/domain/' + domain + '/manage-setting', true);
    });

    // handle deletion of domain
    $(document.body).on('click', '.delete_domain', function () {
        var modal = $("#modal_delete_domain");
        var domain = $(this).prop('id');
        var info = "Are you sure you want to delete " + domain + "?";
        modal.find('.modal-body p').text(info);
        modal.find('#button_delete_confirm').click(function () {
            $.post($SCRIPT_ROOT + '/domain/setting/' + domain + '/delete', {
                '_csrf_token': '{{ csrf_token() }}'
            }, function () {
                window.location.href = '{{ url_for('dashboard.dashboard') }}';
            });
            modal.modal('hide');
        })
        modal.modal('show');
    });

    // domain master address input handeling
    $("select[name=domain_type]").change(function () {
        var type = $(this).val();
        if (type == "slave") {
            $("#domain_master_address_div").show();
        } else {
            $("#domain_master_address_div").hide();
        }
    });

</script>
{% endblock %}
{% block modals %}
<div class="modal fade modal-warning" id="modal_delete_domain">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">确认</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-default pull-left" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-flat btn-danger" id="button_delete_confirm">
                    删除</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock %}