<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>邮件确认 - {{ SITE_NAME }}</title>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% assets "css_login" -%}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {%- endassets %}
  <![endif]-->
</head>

<body class="hold-transition register-page">
    <section class="content">
        <div class="error-page">
            <div class="error-content">
                {% if status == 1 %}
                <h3>
                    <i class="fa fa-thumbs-o-up text-success"></i> 邮件验证成功!
                </h3>
                <p>
                  已经验证账户. <a href="{{ url_for('index.login') }}">点这里</a> 登录.
                </p>
                {% elif status == 2 %}
                <h3>
                  <i class="fa fa-hand-stop-o text-info"></i> 已经验证!
                </h3>
                <p>
                  已经验证账户. <a href="{{ url_for('index.login') }}">点这里</a> 登录.
                </p>
                {% else %}
                <h3>
                  <i class="fa fa-warning text-yellow"></i> 邮件验证失败!
                </h3>
                <p>
                  验证链接无效或者过期. <a href="{{ url_for('index.resend_confirmation_email') }}">点这里</a> 发送新的链接.
                </p>
                {% endif %}
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
</body>

</html>
